#!/bin/bash
#
{{ ansible_managed | comment }}
set -e

mkdir -p /var/backup

{% for snapshot_script in dirvish_client_snapshot_scripts %}
{{ dirvish_client_snapshot_directory }}/{{ snapshot_script }}
{% endfor %}

echo $(date +%s) > /var/backup/.dirvish-snapshot-success
