#!/bin/bash
{{ ansible_managed | comment }}

#
#  THIS IS AN EXAMPLE
#  If you want to use this, adapt to your needs and remove the "exit 1"
#
exit 1

set -e
BACKUPDIR={{ dirvish_client_mysql_backupdir | quote }}
MYSQL_BACKUP_CONFIG=/root/.my.cnf

DATABASES=$(mysql --defaults-extra-file=${MYSQL_BACKUP_CONFIG} --skip-column-names --batch --execute 'SHOW DATABASES')

for DB in $DATABASES; do
  if [[ "$DB" == "mysql" || "$DB" == "information_schema" || "$DB" == "performance_schema" ]]; then
    continue
  fi
  mysqldump --defaults-extra-file=${MYSQL_BACKUP_CONFIG} --databases "${DB}" | xz > "${BACKUPDIR}/${DB}.xz"
done
