{{ ansible_managed | comment }}

{% if item == inventory_hostname %}
client: localhost
{% else %}
client: {{ hostvars[item].dirvish_server_client_hostname | default(item) }}
{% endif %}
tree: /
{% if item != inventory_hostname %}
rsh: {{ hostvars[item].dirvish_server_client_rsh | default(dirvish_server_rsh) }}
{% endif %}
{% if hostvars[item].dirvish_server_expire_rules is defined and hostvars[item].dirvish_server_expire_rules | length > 0 %}
expire-rule:
{% for rule in hostvars[item].dirvish_server_expire_rules %}
	{{ rule }}
{% endfor %}
{% endif%}

{% if hostvars[item].dirvish_server_client_exclude is defined and hostvars[item].dirvish_server_client_exclude | length > 0 %}
exclude:
{% for exclude in hostvars[item].dirvish_server_client_exclude %}
	{{ exclude }}
{% endfor %}
{% endif %}
