{{ ansible_managed | comment }}

bank:
{% set banks = [] -%}
{%- for host in hostvars.keys() -%}
{%- if dirvish_server_clients_group in hostvars[host].group_names -%}
{%- set _ = banks.append(hostvars[host].dirvish_server_bank) -%}
{%- endif -%}
{%- endfor -%}
{% for bank in (banks | unique) %}
	{{ bank }}
{% endfor %}

branch-default: {{ dirvish_server_branch_default }}
image-default: {{ dirvish_server_image_name }}
log: {{ dirvish_server_log_compression }}
index: {{ dirvish_server_log_compression }}
expire-default: {{ dirvish_server_expire_default }}

{% if dirvish_server_exclude|length > 0 %}
exclude:
{% for exclude in dirvish_server_exclude %}
	{{ exclude }}
{% endfor %}
{% endif %}